# ========================
# Virtual Environment
# ========================
bativenv/

# ========================
# Data
# ========================
data/

# ========================
# Cache Files
# ========================
__pycache__

# ========================
# Model
# ========================
# api/model